.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 10px 10px white blur;
}
.logo{
  height: 4rem;
}
.body{
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.cat-picture{
  padding: 1px;
  border-radius: 5%;
}
.cat{
  height: 15rem;
  border-radius: 8%;
  margin-left:2rem;
}